.header {
  margin: 0px; 
  background-image: url('image.jpg');
  width: 1049px;
  height: 500px;
  background-size: contain; 
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.sidebar{
  font-size: 45px;
}
.textContainer {
  padding-top: 100px;
  text-align: center;
  color: rgb(200, 235, 50);
}
.dws {
  
  margin: 0px auto;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  text-align: center;
  border: 3px solid rgb(200, 235, 50);
  font-size: 20px;
}
.butt{
  border: 3px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(200, 235, 50);
  display: block;
  width: 120;
  height: 50;
  text-align: center;
  position: relative;
 line-height: 50px;
 font-size: 20px;
 font-weight: bold;

}
.main {
  box-sizing: border-box;
  width: 1049px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(200, 235, 50);
  color: rgb(48, 54, 57);
  text-align: center;
}
.footer {
  box-sizing: border-box;
  width: 1049px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(48, 54, 57);
  color: rgb(200, 235, 50);
  text-align: center;
}
