.baseImage {
  margin: 0px; /* внешние отступы все по 10 микселей */
  /* margin: 40px 10px 10px 10px; */
  background-image: url('image.jpg');
  width: 1049px;
  height: 500px;
  background-size: contain; /* растяжимость и заполнение изображения cover - обрезать и заполнить контейне, contain - заполнит контейнер с большей стороны ( если repeat */
  background-repeat: no-repeat; /*не дублировать изображения */
  box-sizing: border-box; /* пересчет отступов и полей для контейнера */
}
.section1 {
  box-sizing: border-box;
  width: 1049px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(200, 235, 50);
  color: rgb(48, 54, 57);
  text-align: center;
}

.section2 {
  box-sizing: border-box;
  width: 1049px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(48, 54, 57);
  color: rgb(200, 235, 50);
  text-align: center;
}
.textBlock {
  padding-top: 100px;
  text-align: center;
  color: rgb(200, 235, 50);
}
.buttonContainer {
  margin: 0px auto;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  text-align: center;
  border: 3px solid rgb(200, 235, 50);
  font-size: 20px;
  
}
