.header {
  display: flex;
  background-image: url('./image.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: rgb(0, 150, 255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  line-height: 1.5;
  display: block;
  font-size: 80px;
}
.button {
  border: 2px solid rgb(0, 150, 255);
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  padding: 15px;
  background: rgba(0, 150, 255, 0.3);
  color: rgb(29, 45, 78);
  text-shadow: 1px 1px 10px white;
  text-decoration: none;
}
.textZone1 {
  
  padding: 10px;
  text-align: center;
  color: rgb(29, 45, 78);
  background-color: rgb(0, 150, 255);
}
.textZone2 {
  padding: 10px;
  text-align: center;
  color: rgb(0, 150, 255);
  background-color: rgb(29, 45, 78);
}
.textZone3{
  display: flex;
  text-align: center;
}
.textZone3-1{
  padding: 15px;
  color: rgb(29, 45, 78);
  background: rgb(0, 150, 255);
}
.textZone3-2{
  padding: 15px;
  color: rgb(0, 150, 255);
  background: rgb(29, 45, 78);
}
.textZone3-3{
  padding: 15px;
  color: rgb(29, 45, 78);
  background: rgb(0, 150, 255);
}