body {
  background: rgb(5, 203, 167);
  font-family: Arial, Helvetica, sans-serif;
}
.cardContainer {
  overflow: hidden;
  background: rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  border: 1px solid rgba(255, 255, 255, alpha);
  border-radius: 10px;
  margin: 10px;
}
.userCardHeader {
  position: relative;
  height: 240px;
}
.location {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 4;
}
.check{
  position: absolute;
  right: 15px; top: 15px;
  color: rgb(100, 180, 255);font-size: 25px;
}
.userPhoto {
  margin: auto;
  width: 150px;
  height: 150px;
  background: url('./photo.jpeg');
  background-size: cover;
  border: 10px solid rgb(248, 249, 253);
  border-radius: 50%;
  box-shadow: 0px 1px 2px;
}
.userInfo {
  height: 10px;
  line-height: 1.2;
  height: 120px;
  text-align: center;
}
h1 {
  font-size: 30px;
  line-height: 2;
}
.button {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  text-decoration: none;
  border: 1px solid rgb(100, 180, 255);
  background: rgb(100, 180, 255);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgb(100, 140, 170);
}
.activity {
  line-height: 1.3;
  text-align: center;
  align-items: center;
  display: flex;
  color: rgb(172, 125, 140);
  background: rgb(31, 53, 76);
  height: 68px;
}
.posts  > p {
  color: white;
}

.posts {
  width: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.favorites{
  width: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
}
.messages{
  width: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}